automation/n8n/acorn_plans_renderer.json
{
  "id": "acornPlansRenderer",
  "name": "Acorn Plans - Windows Renderer (review mode)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Acorn Plans - Windows Renderer (Review Mode)\n\nCurrent production workflow. Calls the Windows `render_service.py` over HTTP, uploads every generated VSDX to SharePoint `General/AI Automation/AI_COMPLETED`, then marks the source email read and moves it to Outlook `AI_COMPLETED`.\n\nKeep the old `Automated Drawing` / `plangenration` workflow deactivated; it produces weaker `AI Draft` files and can consume emails before this workflow sees them.\n\nUses n8n env: `RENDER_SERVICE_URL`, `RENDER_SERVICE_TOKEN`. Do not hardcode the render token in workflow JSON.",
        "height": 320,
        "width": 520
      },
      "id": "note_review_mode",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 7-18 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule_business_hours",
      "name": "Every 10 min (business hrs)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        380,
        540
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.RENDER_SERVICE_URL || 'http://16.61.179.204:8765') + '/ready' }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "wait_ready",
      "name": "Wait for /ready (poll until renderable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        540
      ],
      "retryOnFail": true,
      "maxTries": 8,
      "waitBetweenTries": 15000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "readStatus": "unread",
          "hasAttachments": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        780,
        500
      ],
      "id": "get_messages",
      "name": "Get unread Plans emails",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FNq1tabrcjylXbSd",
          "name": "Plans-Acornhealthandsafety"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull the N-number from each plan email; drop emails without one.\nconst out = [];\nconst items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const j = items[i].json;\n  const text = `${j.subject || ''} ${j.bodyPreview || ''}`;\n  const m = text.match(/N-\\d{4,10}/i);\n  if (!m) continue;\n  out.push({ json: { projectNumber: m[0].toUpperCase(), messageId: j.id, subject: j.subject || '' }, pairedItem: { item: i } });\n}\nreturn out;"
      },
      "id": "extract_n_number",
      "name": "Extract N-number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        500
      ]
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.messageId }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1180,
        500
      ],
      "id": "get_attachments",
      "name": "Get attachments",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FNq1tabrcjylXbSd",
          "name": "Plans-Acornhealthandsafety"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_img",
              "leftValue": "={{ $json.name }}",
              "rightValue": "\\.(jpe?g|png)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter_image",
      "name": "Keep image attachments",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1380,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pick the sketch image per project = the LARGEST image for that project.\n// Surveyors attach a photo of the hand-drawn sketch (typically MB-sized);\n// inline email-signature logos are tiny (~40KB), so largest-by-size reliably\n// picks the real sketch. Non-inline wins ties. If only a tiny logo exists, the\n// pipeline refuses (0 rooms) and the email is routed to Manual Review.\nconst items = $input.all();\nconst byProject = new Map();\nfor (let i = 0; i < items.length; i++) {\n  const j = items[i].json;\n  let key;\n  try { key = $('Extract N-number').itemMatching(i).json.projectNumber; }\n  catch (e) { key = j.id; }\n  if (!byProject.has(key)) byProject.set(key, []);\n  byProject.get(key).push(items[i]);\n}\nconst out = [];\nfor (const [key, imgs] of byProject) {\n  imgs.sort((a, b) => {\n    const sa = Number(a.json.size) || 0, sb = Number(b.json.size) || 0;\n    if (sb !== sa) return sb - sa;                                  // largest first\n    return (a.json.isInline === true) - (b.json.isInline === true); // non-inline wins ties\n  });\n  out.push(imgs[0]);\n}\nreturn out;\n"
      },
      "id": "first_image",
      "name": "Pick sketch image (largest)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        500
      ]
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Extract N-number').item.json.messageId }}",
          "mode": "id"
        },
        "attachmentId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1780,
        500
      ],
      "id": "download_sketch",
      "name": "Download sketch",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FNq1tabrcjylXbSd",
          "name": "Plans-Acornhealthandsafety"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Per-project filename + carry projectNumber and messageId into json.\nconst items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const ex = $('Extract N-number').itemMatching(i).json;\n  const pn = ex.projectNumber;\n  const mid = ex.messageId;\n  const b = items[i].binary && items[i].binary.data;\n  const ext = ((b && b.fileName ? b.fileName : 'x.jpg').split('.').pop() || 'jpg').toLowerCase();\n  const sketchFile = `${pn}_sketch.${ext}`;\n  if (b) b.fileName = sketchFile;\n  items[i].json = { ...items[i].json, projectNumber: pn, messageId: mid, sketchFile };\n}\nreturn items;"
      },
      "id": "name_sketch",
      "name": "Name sketch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        500
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop_items",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2180,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.RENDER_SERVICE_URL || 'http://16.61.179.204:8765') + '/render?project=' + $json.projectNumber }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "={{ $env.RENDER_SERVICE_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 240000
        }
      },
      "id": "render_post",
      "name": "Render (POST 8765)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        420
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://graph.microsoft.com/v1.0/drives/b!GE0XZSrs9Emo4dgn9nK_QRQ6U_cuYhFPlEx0fNOgGvy_Kq55htFrSpAxi-5mI0aO/root:/{{ ('General/AI Automation/Manual_Review/' + $binary.data.fileName).replaceAll(' ', '%20') }}:/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 120000
        }
      },
      "id": "upload_manual_review",
      "name": "Upload to SharePoint Manual_Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        420
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "oAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GRAPH_OAUTH2_CRED_ID",
          "name": "Acorn Graph App-Only"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.messageId }}",
          "mode": "id"
        },
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2860,
        420
      ],
      "id": "mark_read",
      "name": "Mark email as read",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FNq1tabrcjylXbSd",
          "name": "Plans-Acornhealthandsafety"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders?$filter=displayName%20eq%20'AI_COMPLETED'",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {
          "timeout": 30000
        }
      },
      "id": "find_completed_mail_folder",
      "name": "Find AI_COMPLETED mail folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        420
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FNq1tabrcjylXbSd",
          "name": "Plans-Acornhealthandsafety"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const folders = Array.isArray($json.value) ? $json.value : [];\nconst completed = folders.find(f => String(f.displayName || '').toLowerCase() === 'ai_completed');\nreturn [{ json: { completedFolderId: completed?.id || '', createCompletedFolder: !completed } }];"
      },
      "id": "prepare_completed_mail_folder",
      "name": "Prepare AI_COMPLETED folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "create_completed_folder",
              "leftValue": "={{ $json.createCompletedFolder }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if_create_completed_mail_folder",
      "name": "Need create AI_COMPLETED folder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3520,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "displayName",
              "value": "AI_COMPLETED"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "create_completed_mail_folder",
      "name": "Create AI_COMPLETED mail folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        320
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FNq1tabrcjylXbSd",
          "name": "Plans-Acornhealthandsafety"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { completedFolderId: $json.id, createCompletedFolder: false } }];"
      },
      "id": "prepare_created_completed_mail_folder",
      "name": "Use created AI_COMPLETED folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{ encodeURIComponent($('Loop Over Items').item.json.messageId) }}/move",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "destinationId",
              "value": "={{ $json.completedFolderId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "move_email_to_completed",
      "name": "Move email to Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4180,
        420
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FNq1tabrcjylXbSd",
          "name": "Plans-Acornhealthandsafety"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.messageId }}",
          "mode": "id"
        },
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2640,
        760
      ],
      "id": "mark_read_refused",
      "name": "Mark read (refused)",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FNq1tabrcjylXbSd",
          "name": "Plans-Acornhealthandsafety"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{ encodeURIComponent($('Loop Over Items').item.json.messageId) }}/move",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "destinationId",
              "value": "AAMkAGM2Mjc4MTU2LWJiNDktNDJlMy1hYTFhLTc3NDk1YTIwY2Q1MwAuAAAAAABTESXWf938Q6JONOf0rp4NAQBA6LzPB-1LSqEc53iCU14VAAkc_KPcAAA="
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "move_refused_to_manual_review",
      "name": "Move refused email to Manual Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        760
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FNq1tabrcjylXbSd",
          "name": "Plans-Acornhealthandsafety"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "batch_done",
      "name": "Batch done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2420,
        620
      ]
    },
    {
      "parameters": {},
      "id": "skip_vm_down",
      "name": "Skip (VM down - retry next cycle)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        720
      ]
    }
  ],
  "connections": {
    "Every 10 min (business hrs)": {
      "main": [
        [
          {
            "node": "Wait for /ready (poll until renderable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for /ready (poll until renderable)": {
      "main": [
        [
          {
            "node": "Get unread Plans emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (VM down - retry next cycle)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get unread Plans emails": {
      "main": [
        [
          {
            "node": "Extract N-number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract N-number": {
      "main": [
        [
          {
            "node": "Get attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get attachments": {
      "main": [
        [
          {
            "node": "Keep image attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep image attachments": {
      "main": [
        [
          {
            "node": "Pick sketch image (largest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download sketch": {
      "main": [
        [
          {
            "node": "Name sketch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Name sketch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Batch done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Render (POST 8765)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render (POST 8765)": {
      "main": [
        [
          {
            "node": "Upload to SharePoint Manual_Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark read (refused)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark read (refused)": {
      "main": [
        [
          {
            "node": "Move refused email to Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move refused email to Manual Review": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to SharePoint Manual_Review": {
      "main": [
        [
          {
            "node": "Mark email as read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark email as read": {
      "main": [
        [
          {
            "node": "Find AI_COMPLETED mail folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find AI_COMPLETED mail folder": {
      "main": [
        [
          {
            "node": "Prepare AI_COMPLETED folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI_COMPLETED folder": {
      "main": [
        [
          {
            "node": "Need create AI_COMPLETED folder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need create AI_COMPLETED folder?": {
      "main": [
        [
          {
            "node": "Create AI_COMPLETED mail folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move email to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create AI_COMPLETED mail folder": {
      "main": [
        [
          {
            "node": "Use created AI_COMPLETED folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use created AI_COMPLETED folder": {
      "main": [
        [
          {
            "node": "Move email to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move email to Completed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick sketch image (largest)": {
      "main": [
        [
          {
            "node": "Download sketch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "pinData": {}
}